<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="AllTests">
        <packages>
            <package name="ru.stqa.pft.sandbox.tests"/>
            <!-- Укажите здесь другие пакеты с тестами, если необходимо -->
        </packages>
    </test>
</suite>
